
.App{
  /*to move cards UNDER the navbar*/
  padding-top: 65px;
  /*100% OF THE VIEWED HEIGHT*/
  min-height: 100vh;

  background-color: rgba(102, 102, 255, 0.4);
}

.navbar{
  background-color: #6666ff !important;
}

.card-header{
  background-color: #6666ff !important;
}

.card{
  background-color: rgba(102, 102, 255, 0.2);
}
.poke-card-img{
  width: 150px;
  height: 150px;
}

.bg-soft{
  background-color: rgba(102, 102, 255, 0.2);
}