
.App{
  /*to move cards UNDER the navbar*/
  padding-top: 65px;
  /*100% OF THE VIEWED HEIGHT*/
  min-height: 100vh;
}
.navbar{
  background-color: #6666ff !important;
}

.card-header{
  background-color: #6666ff !important;
}

.card{
  background-color: rgba(102, 102, 255, 0.2)
}